extends ../layout  
block content  
  div(class='container')
    h1 #{contentTitle} 
    p #{description} 
    a(href='/login' class='login-txt') login
    a(href='/regist' class='regist-txt') regist
  br
  each img in imgs  
      img(src="images/#{img}" class="row-img")