link(href="/lib/css/bootstrap.min.css" rel='stylesheet')
link(href="/lib/css/font-awesome.min.css" rel='stylesheet')
link(href="/lib/css/animate.min.css" rel='stylesheet') 
link(href="/css/main.css" rel='stylesheet')  